* {
margin:0;
padding:0;
}
html,
body,
#box {
height:100%;
font:small/1.5 "宋体", serif;
}
body {
text-align:center;
}
.main{
 margin-left:100px;
}
#box {
text-align:left;
display:table;
width:100%;
margin:0 auto;
position:relative;
}
#box > div {
display:table-row;
}
#header,
#footer {
background:#900C0B;
height:50px;
vertical-align:bottom;
text-align: center;
line-height: 50px;
}
#main #wrap {
display:table-cell;
vertical-align:top;
}
.logo{
width:400px;
float:left;
}
.menu{
padding-top:100px;
padding-right:100px;
float:right;
}
div.menu ul
  {
     list-style:none; /* 去掉ul前面的符号 */
      margin: 0px; /* 与外界元素的距离为0 */
      padding: 10px; /* 与内部元素的距离为0 */
      width: auto; /* 宽度根据元素内容调整 */
 }
div.menu ul li
{
     float:left; /* 向左漂移，将竖排变为横排 */
     margin-left:10px;
}
div.menu ul li a{
color:white;
}
.page_content{
text-indent: 28px;
line-height: 27px;
background: rgb(255, 255, 255);
}

.footer{
height:60px;
width:100%;
background:gray;
position: absolute;
bottom:0;
text-align: center;
line-height: 50px;
}
.search{
    width:20%;
    vertical-align:top;
    margin-top:20px;
    margin-left:50px;
}
.search_content{
    margin-left:30px;
    margin-top:10px;
}
th{
text-align: center !important;
}
td{
text-align:center;
}
.publish_time{
    float:right;
    margin-right:100px;
}
