{% extends 'base.html' %}
{% block title %}图书管理{% endblock %}
{% block content %}
<div class="search">
    <form method="GET">
        <div class="form-inline row">
          <input type="text" class="form-control" placeholder="请输入书名或图书编号" maxlength="50" name="search_keys"/>
          <button class="btn btn-primary">搜 索</button>
        </div>
    </form>
</div>

<div class="search_content">
    <a class="btn btn-primary" href={% url 'add_book'%}>新增图书</a>
<div class="panel panel-default">
  <div class="panel-heading">图书基本信息</div>

  <table class="table">
    <th>图书编号</th>
    <th>SN号</th>
    <th>图书名称</th>
    <th>出版社</th>
    <th>是否在馆</th>
    <th>是否损坏</th>
    <th>操作</th>
      {%if book_list%}
        {% for row in book_list %}
        <tr>
            <td>
                {{ row.bi_number }}
            </td>
            <td>
                {{ row.bi_sn_number }}
            </td>
            <td>
                {{ row.bi_name }}
            </td>
            <td>
                {{ row.bi_publish_name }}
            </td>
            <td>
                {{ row.bi_state }}
            </td>
            <td>
                {{ row.bi_status }}
            </td>
            <td>
                <a href={%url 'book_detail' row.bi_number%}>查看</a>
                <a href={%url "modify_book" row.bi_number%}>修改</a>
            </td>
        </tr>
        {% endfor %}
{% else %}
<p style="margin-left:30px;">暂无数据</p>
{%endif%}
  </table>
</div>
</div>
{% endblock %}