{% extends 'base.html' %}
{% block title %}借书审核{% endblock %}
{% block content %}
<div class="search">
    <form method="GET">
        <div class="form-inline row">
          <input type="text" class="form-control" placeholder="请输入学号或图书编号" maxlength="50" name="search_keys"/>
          <button class="btn btn-primary">搜 索</button>
        </div>
    </form>
</div>

<div class="search_content">
<div class="panel panel-default">
  <div class="panel-heading">借书信息</div>
{%if borrow_list%}
  <table class="table">
    <th>图书编号</th>
    <th>读者学号</th>
    <th>借书日期</th>
    <th>应还日期</th>
    <th>借书状态</th>
    <th>操作</th>
        {% for row in borrow_list %}
        <tr>
            <td>
                {{ row.bb_number }}
            </td>
            <td>
                {{ row.bb_people }}
            </td>
            <td>
                {{ row.bb_borrow_date }}
            </td>
            <td>
                {{ row.bb_back_date }}
            </td>
            <td>
                {{ row.bb_state }}
            </td>
            <td>
                 {% if row.bb_state == '申请中'%}
                <a href={%url "borrow_book" row.bb_number%} onclick="borrow_book()" id="borrow_book">确认借书</a>
                {%elif row.bb_state == '借阅中' or row.bb_state == '续借'%}
                <a href={% url "back_book" row.id %}>确认还书</a>
                {% endif%}
                <a href={% url "send_email"%}>催还书</a>
            </td>
        </tr>
        {% endfor %}
{% else %}
<p style="margin-left:30px;">暂无数据</p>
{%endif%}
  </table>
</div>
</div>
{% endblock %}